<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" ng-init="get_staff()">
                <h5 class="box-title">Registered Employees</h5>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="searchItem" class="form-control input-sm pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <tbody><tr>
                        <th>#</th>
                        <th><a href="#" ng-click="sortType = 'fullName'; sortReverse = !sortReverse">FullName
                            <span ng-show="sortType == 'fullName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'fullName' && sortReverse" class="fa fa-caret-up"></span></a></th>

                        <th><a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">Location
                            <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span></a></th>

                        <th><a href="#" ng-click="sortType = 'gender'; sortReverse = !sortReverse">Gender
                            <span ng-show="sortType == 'gender' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'gender' && sortReverse" class="fa fa-caret-up"></span></a></th>

                        <th><a href="#" ng-click="sortType = 'nic'; sortReverse = !sortReverse">NIC
                            <span ng-show="sortType == 'nic' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'nic' && sortReverse" class="fa fa-caret-up"></span></a></th>

                        <th><a href="#" ng-click="sortType = 'phone'; sortReverse = !sortReverse">Phone
                            <span ng-show="sortType == 'phone' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'phone' && sortReverse" class="fa fa-caret-up"></span></a></th>

                        <th><a href="#" ng-click="sortType = 'jobPosition'; sortReverse = !sortReverse">Job Position
                            <span ng-show="sortType == 'jobPosition' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'jobPosition' && sortReverse" class="fa fa-caret-up"></span></a></th>

                        <th><a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">E-mail
                            <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span></a></th>

                        <th><a href="#" ng-click="sortType = 'registerDate'; sortReverse = !sortReverse">Register Date
                            <span ng-show="sortType == 'registerDate' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'registerDate' && sortReverse" class="fa fa-caret-up"></span></a></th>
                    </tr>
                    <tr ng-repeat="StaffDetail in StaffDetails | filter:searchItem | orderBy:sortType:sortReverse | limitTo:totalDisplayed ">
                        <td>{{$index + 1}}</td>
                        <td>
                            <div ng-hide="StaffDetail.id"></div>
                            <input class="form-control"  name="name" ng-model="StaffDetail.fullName" type="text" >


                        </td>

                        <td class="center">
                            <textarea  required="" rows="3" ng-model="StaffDetail.address" class="form-control"></textarea>

                        </td>
                        <td class="center">


                            <select class="form-control" style="width:100px" ng-model="StaffDetail.gender">
                                <option value="male">male</option>
                                <option value="female">female</option>

                            </select>

                        </td>
                        <td class="center">

                            <input class="form-control"  name="name" ng-model=" StaffDetail.nic" type="text" >

                        </td>
                        <td class="center">

                            <input class="form-control"  name="name" ng-model=" StaffDetail.phone" type="text" >

                        </td>

                        <td class="center">
                            <select class="form-control" style="width:100px" ng-model="StaffDetail.jobPosition">
                                <option value="Admin">Admin</option>
                                <option value="QS">QS</option>
                                <option value="Site Manager">Site Manager</option>
                                <option value="Other">Other</option>
                            </select>
                        </td>

                        <td class="center">

                            <input class="form-control"  name="name" ng-model=" StaffDetail.email" type="text" >

                        </td>

                        <td>
                            {{StaffDetail.registerDate}}



                        </td>
                        <td class="center">
                            <button class="btn btn-block btn-success" ng-click="update(StaffDetail)">Update</button>
                            <button class="btn btn-block btn-danger"  ng-click="delete(StaffDetail)">Delete</button>
                        </td>
                    </tr>



                    </tbody></table>
                <button class="btn" ng-click="loadMore()">{{load}}</button>
                <H3> No of Registered Staff : {{NoOfStaff}}</H3>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>




