<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" ng-init="get_staff()">
                <h5 class="box-title">Registered Employees</h5>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>FullName</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>NIC</th>
                        <th>phone</th>
                        <th>jobPositione</th>
                        <th>email</th>
                    </tr>
                    <tr ng-repeat="StaffDetail in StaffDetails">
                        <td>
                            <input class="form-control"  name="name" ng-model="StaffDetail.fullname" type="text" >

                        </td>

                        <td class="center">
                            <textarea  required="" rows="3" ng-model="StaffDetail.address" class="form-control"></textarea>

                        </td>
                        <td class="center">

                            <input class="form-control"  name="name" ng-model=" StaffDetail.gender" type="text" >

                        </td>
                        <td class="center">

                            <input class="form-control"  name="name" ng-model=" StaffDetail.nic" type="text" >

                        </td>
                        <td class="center">

                            <input class="form-control"  name="name" ng-model=" StaffDetail.phone" type="text" >

                        </td>

                        <td class="center">
                            <select class="form-control" style="width:100px" ng-model="StaffDetail.jobPosition">
                                <option value="volvo">Admin</option>
                                <option value="saab">QS</option>
                                <option value="opel">Site Manager</option>
                                <option value="audi">L</option>
                            </select>
                        </td>

                        <td class="center">

                            <input class="form-control"  name="name" ng-model=" StaffDetail.email" type="text" >

                        </td>



                        <td class="center">
                            <button class="btn btn-block btn-success">Edit</button>
                            <button class="btn btn-block btn-danger">Delete</button>
                        </td>
                    </tr>



                    </tbody></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>




