<form class="form-horizontal" role="form" ng-submit="update()">
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" ng-init="get_suppliers()">
                <h5 class="box-title">Registered Suppliers</h5>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>FullName</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Supplier Iteam</th>
                        <th>Unit Price</th>
                        <th>Statues</th>
                    </tr>
                    <tr ng-repeat="supplierDetail in supplierDetails">
                        <td>
                            <input class="form-control"  name="name" ng-model="supplierDetail.fullname" type="text" >
                        </td>
                        <td class="center">
                            <input class="form-control"  name="name" ng-model="supplierDetail.address" type="text" >
                        </td>
                        <td class="center">
                            <input class="form-control"  name="name" ng-model="supplierDetail.phone" type="text" >
                        </td>
                        <td class="center">
                            <input class="form-control"  name="name" ng-model="supplierDetail.email" type="text" >
                        </td>
                        <td class="center">
                            <input class="form-control"  name="name" ng-model="supplierDetail.supitem" type="text" >
                        </td>
                        <td class="center">
                            <input class="form-control"  name="name" ng-model="supplierDetail.unitprice" type="text" >
                        </td>
                        <td class="center">
                            <input class="form-control"  name="name" ng-model="supplierDetail.statues" type="text" >
                        </td>




                        <td class="center">
                            <button type="update" class="btn btn-block btn-success">Update</button>
                            <button class="btn btn-block btn-danger">Delete</button>
                        </td>
                    </tr>



                    </tbody></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>



</form>