<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" ng-init="get_suppliers()">
                <h5 class="box-title">Registered Suppliers</h5>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>FullName</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>NIC</th>
                        <th>phone</th>
                        <th>jobPositione</th>
                        <th>email</th>
                    </tr>
                    <tr ng-repeat="detail in details">
                        <td>{{detail.fullname}}</td>
                        <td class="center">{{detail.address}}</td>
                        <td class="center">{{detail.gender}}</td>
                        <td class="center">{{detail.nic}}</td>
                        <td class="center">{{detail.phone}}</td>
                        <td class="center">{{detail.jobPosition}}</td>
                        <td class="center">{{detail.email}}</td>
                        <td class="center">
                            <button class="btn btn-block btn-success">Edit</button>
                            <button class="btn btn-block btn-danger">Delete</button>
                        </td>
                    </tr>



                    </tbody></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>




<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- Horizontal Form -->
        </br>
        </br>
        </br>
        </br>
        <div class="box box-info">
            <div class="bg-aqua color-palette">
                <div class="box-header with-border">
                    <h1 align="center"><b><i>Staff Registeration</i></b></h1>
                </div><!-- /.box-header -->
                <!-- form start -->

                <form class="form-horizontal" role="form" ng-submit="submit()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="fullname" class="col-sm-2 control-label">Full Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="fullname" name="name" ng-model="name" type="text"placeholder="Name With Initial" value=""  required="">
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label" >Address</label>

                            <div class="col-sm-10">

                                <textarea placeholder="Enter ..." rows="3" ng-model="address" class="form-control"></textarea>
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">Gender</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input name="sex" id="male" value="male" checked="" type="radio" ng-model="gender">
                                        Male
                                        <label>
                                            <input name="sex" id="female" value="female"  type="radio" ng-model="gender">
                                            Female
                                        </label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label for="nic" class="col-sm-2 control-label">NIC</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="nic" ng-model="nic" style="width: 200px" type="text" placeholder="NIC Number" pattern="[0-9{{9}V}">
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label for="fullname" class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="phone" style="width: 200px" ng-model="phone" type="text"placeholder="Phone Number " pattern="[0-9]{1}[0-9]{9}" required="">
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label for="fullname" class="col-sm-2 control-label">Position</label>
                            <div class="col-sm-10">
                                <select class="form-control" style="width:270px" ng-model="position">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input id="inputIcon" ng-model="email" type="text" class="form-control" placeholder="Enter Email Address"  required="true">
                            </div>
                        </div>
                        </br>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div><!-- /.box-footer -->
                </form>
                <li class="alert-danger" ng-repeat="msg in msgs"> {{ msg}} </li>
            </div>
        </div>
    </div></div>